<div class="bg-light rounded py-2 px-3 mb-3">
  <div class="d-flex flex-row align-items-center">
    <%= link_to user_account_user_path(message.user),
                class: "text-decoration-none",
                remote: true do %>
      <span class="font-weight-light text-dark">
        <%= message.user.first_name %>
        <%= message.user.last_name %>
      </span>
    <% end %>
  </div>

  <div class="my-1">
    <%= simple_format(message.content, class: "m-0") %>
  </div>

  <div class="d-flex flex-row align-items-center">
    <span class="ml-auto font-weight-lighter">
      <%= "Le #{l(message.created_at, format: :medium)}" %>
    </span>
  </div>
</div>
