<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownUserButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">

    <%= fa_icon("bell", nil, prefix: "far") %>

    <% if notifications.present? %>
      <span class="badge badge-light ml-1">
        <%= notifications.size %>
      </span>
    <% end %>
  </button>

  <div class="dropdown-menu dropdown-menu-right notification-component"
       aria-labelledby="dropdownUserButton">

    <% if notifications.present? %>
      <% notifications.each do |notifiaction| %>
        <%= link_to user_account_notification_path(notifiaction), class: "dropdown-item" do %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="font-weight-bolder text-primary">
              <%= fa_icon(
                Notification.human_attribute_name(
                  "icon.#{notifiaction.notification_type}"
                ),
                Notification.human_attribute_name(
                  "notification_type.#{notifiaction.notification_type}"
                ),
                { class: "mr-2", prefix: "far" }
              ) %>
            </div>
            <span class="badge badge-warning">
              <%= notifiaction.family.name %>
            </span>
          </div>

          <p class="font-weight-light">
            <%= notifiaction.description.html_safe %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <div class="dropdown-item text-muted">
        Aucune notification récente
      </div>
    <% end %>
    <%= link_to "Voir mes notifications",
                user_account_notifications_path,
                class: "dropdown-item border-top text-center font-weight-bolder" %>
  </div>
</div>

