<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownUserButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">

    <%= fa_icon("bell", nil, prefix: "far") %>

    <% if notifications.present? %>
      <span class="badge badge-light ml-1">
        <%= notifications.size %>
      </span>
    <% end %>
  </button>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserButton">
    <% if notifications.present? %>
      <% notifications.each_with_index do |notifiaction, index| %>
        <%= link_to notifiaction.url, class: "dropdown-item" do %>
          <span><%= notifiaction.title %></span>
          <p><%= notifiaction.description %></p>
        <% end %>

        <% unless index + 1 == notifications.size %>
          <div class="dropdown-divider"></div>
        <% end %>
      <% end %>
    <% else %>
      <div class="dropdown-item text-muted">
        Aucune notification
      </div>
    <% end %>
  </div>
</div>

