<!DOCTYPE html>
<html>
  <head>
    <title>HolidayHome | Gestion de maison de vancance familiale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <%= link_to root_path, class:"navbar-brand" do %>
        <span>Holiday</span>
        <span class="text-success">home</span>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item <%= 'active' if controller_name == 'dashboards' %>">
            <%= link_to "Tableau de bord", user_account_dashboards_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= 'active' if controller_name == 'families' %>">
            <%= link_to "Mes familles", user_account_families_path, class: "nav-link" %>
          </li>

          <li class="nav-item ml-lg-5">
            <%= render "user_account/layouts/user_dropdown" %>
          </li>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <div id="modal-container"></div>
    <div id="toast-container">
      <%= render "./shared/flash_messages" %>
    </div>
  </body>
</html>
