<!DOCTYPE html>
<html>
  <head>
    <title>Hutoki | Gestion de maison de vancance familiale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'venues_vue', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bookings_vue', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'booking_vue', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="padding-for-fixed-navbar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm">
      <%= link_to root_path, class:"navbar-brand pt-1" do %>
        <%= image_tag("icons/hutoki.min.png", size: "35", class: "img-fluid pb-1") %>
        <span class="pl-1">Hutoki</span>
      <% end %>

      <% if current_user.current_family_id %>
        <div class="d-flex justify-content-center align-items-center ml-lg-5">
          <div class="col-4">
            <span class="navbar-text float-right">
              Famille&nbsp;:
            </span>
          </div>
          <div class="col-8 p-0">
            <%= simple_form_for :current_family,
                                url: user_account_current_families_path,
                                method: :patch,
                                authenticity_token: true,
                                wrapper: :inline_form,
                                data: { autosubmit: true } do |f| %>

              <%= f.input :id,
                          collection: current_user.families.pluck(:name, :id),
                          selected: current_user.current_family_id,
                          label: false,
                          required: false,
                          include_blank: false %>
            <% end %>
          </div>
        </div>
      <% end %>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex align-items-center ml-auto">
          <ul class="navbar-nav align-items-lg-center">
            <% if current_user.current_family_id %>
              <li class="nav-item <%= 'active' if controller_name == 'dashboards' %>">
                <%= link_to "Tableau de bord", user_account_dashboards_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'sended_invitations' %>">
                <%= link_to "Invitations", user_account_sended_invitations_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'users' %>">
                <%= link_to "Membres", user_account_users_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'venues' %>">
                <%= link_to "Lieux", user_account_venues_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'bookings' %>">
                <%= link_to "Réservations", user_account_bookings_path, class: "nav-link" %>
              </li>

              <li class="nav-item ml-lg-5 mt-3 mt-lg-0"
                  id="notification-container"
                  data-user-id="<%= current_user.id %>">

                <%= render "user_account/layouts/notifications", notifications: @unread_notifications %>
              </li>
            <% end %>

            <li class="nav-item ml-lg-2 mt-2 mt-lg-0">
              <%= render "user_account/layouts/user_dropdown" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% unless current_user.confirmed? %>
      <div class="alert alert-warning text-center">
        <%= fa_icon("exclamation-triangle") %>
        Votre compte pourrait être bloqué d'ici quelques jours, pensez a valider votre adresse email !
      </div>
    <% end %>

    <div class="container-fluid p-0 min-vh-100">
      <%= yield %>
    </div>

    <div id="modal-container">
    </div>
    <div id="toast-container">
      <%= render "./shared/flash_messages" %>
    </div>
    <div id="plan-info-container">
      <%= render "./shared/plan_info_card" if @plan_error %>
    </div>

    <%= render "./shared/cookies_info_card" unless cookies[:hutoki_rgpd] %>
  </body>

  <%= render "./shared/footer" unless @skip_footer %>
</html>
