<!DOCTYPE html>
<html>
  <head>
    <title>Hutoki | Gestion de maison de vancance familiale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body style="padding-top: 56px;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm">
      <%= link_to root_path, class:"navbar-brand" do %>
        <span>Hutoki</span>
      <% end %>

      <% if current_user.current_family_id %>
        <div class="d-flex justify-content-center ml-lg-5">
          <div class="col-4">
            <span class="navbar-text float-right">
              Famille&nbsp;:
            </span>
          </div>
          <div class="col-8 p-0">
            <%= simple_form_for :current_family,
                                url: user_account_current_families_path,
                                method: :patch,
                                authenticity_token: true,
                                wrapper: :inline_form,
                                data: { autosubmit: true } do |f| %>

              <%= f.input :id,
                          collection: current_user.families.pluck(:name, :id),
                          selected: current_user.current_family_id,
                          label: false,
                          required: false,
                          include_blank: false %>
            <% end %>
          </div>
        </div>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex align-items-center ml-auto">
          <ul class="navbar-nav">
            <% if current_user.current_family_id %>
              <li class="nav-item <%= 'active' if controller_name == 'dashboards' %>">
                <%= link_to "Tableau de bord", user_account_dashboards_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'sended_invitations' %>">
                <%= link_to "Invitations", user_account_sended_invitations_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'users' %>">
                <%= link_to "Membres", user_account_users_path, class: "nav-link" %>
              </li>

              <li class="nav-item <%= 'active' if controller_name == 'venues' %>">
                <%= link_to "Lieux", user_account_venues_path, class: "nav-link" %>
              </li>
            <% end %>

            <li class="nav-item ml-lg-5">
              <%= render "user_account/layouts/user_dropdown" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% unless current_user.confirmed? %>
      <div class="alert alert-warning text-center">
        <%= fa_icon("exclamation-triangle") %>
        Votre compte pourrait être bloqué d'ici quelques jours, pensez a valider votre adresse email !
      </div>
    <% end %>

    <div class="container-fluid p-0">
      <%= yield %>
    </div>

    <div id="modal-container"></div>
    <div id="toast-container">
      <%= render "./shared/flash_messages" %>
    </div>
  </body>
</html>
