<table class="table table-rounded table-borderless table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Icone</th>
      <th scope="col">Nom</th>
      <th scope="col">Préfixe</th>
      <th scope="col">Classe</th>
      <th scope="col" class="text-center">Date de création</th>
      <th colspan="2" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if @vehicle_types.present? %>
      <% @vehicle_types.each do |vehicle_type| %>
        <tr>
          <td>
            <% if vehicle_type.icon_class.present? %>
              <%= fa_icon(vehicle_type.icon_class.delete_prefix('fa-'),
                          nil,
                          prefix: vehicle_type.icon_prefix) %>
            <% end %>
          </td>
          <td>
            <%= vehicle_type.name %>
          </td>
          <td>
            <%= vehicle_type.icon_prefix %>
          </td>
          <td>
            <%= vehicle_type.icon_class %>
          </td>
          <td class="text-center">
            <%= l(vehicle_type.created_at, format: :medium) %>
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <%= button_to edit_admin_account_vehicle_type_path(vehicle_type),
                            method: :get,
                            remote: true,
                            class: "btn btn-sm btn-outline-info mr-1" do %>
                <%= fa_icon('pen', 'editer', class: 'mr-1') %>
              <% end %>

              <%= button_to admin_account_vehicle_type_path(vehicle_type),
                            method: :delete,
                            data: { confirm: "Etes-vous sûr ?" },
                            class: "btn btn-sm btn-outline-danger ml-1" do %>
                <%= fa_icon('trash', 'supprimer', class: 'mr-1') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" class="text-center text-muted">
          aucun type de vehicule n'a été trouvé
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="d-flex justify-content-center mt-2">
    <%== render "shared/bootstrap_pagy" %>
  </div>
<% end %>
