<div class="mx-n3 py-12">
  <h1 class="text-center font-size-2-8">
    Planifiez vos vacances en toute transparence
  </h1>

  <p class="text-center text-muted font-size-1-2 mb-8">
    Utilisez un outil simple pour votre gestion de maison de vacances familiale
  </p>

  <div class="d-flex justify-content-center">
    <%= button_to "Découvrez nos offres dès maintenant !",
                  pricing_path,
                  method: :get,
                  class: "btn btn-lg btn-outline-primary" %>
  </div>
</div>

<div class="mx-n3 my-12 position-relative bg-primary">
  <div class="rotated-bg-primary-3"></div>

  <div class="p-5">
    <h1 class="text-white text-center mb-8">
      Ayez une meilleure visibilité sur les plannings
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-6 mb-md-0">
        <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="text-white mb-6">
                Gérer les réservations en famille n’a jamais été aussi simple&nbsp;!
              </h4>

              <p class="text-white opacity-8 font-size-1-2 my-auto">
                Visualisez le planning par famille et par lieu.
                <br>
                En un coup d'oeil vous retrouvez toutes les informations utiles
                pour une organisation optimale et une transparence totale&nbsp;!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_dashboard.min.png", class: "img-fluid rounded") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-n3 py-12">
  <div class="p-5">
    <h1 class="text-center mb-8">
      Visualisez et gérez toutes vos familles&nbsp;!
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-6 mb-md-0">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_families.min.png", class: "img-fluid rounded shadow") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="mb-6">
                Une interface simple pour gérez vos familles&nbsp;!
              </h4>

              <p class="text-muted font-size-1-2 my-auto">
                Personalisez vos familles en indiquant une période
                de réservation afin de laisser du temps aux membres familiaux pour
                approuver ou non les demandes.
              </p>

              <%= button_to "Tester Hutoki dès maintenant !",
                            pricing_path,
                            method: :get,
                            class: "btn btn-lg btn-outline-primary mt-6" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-n3 py-12 position-relative bg-primary">
  <div class="rotated-bg-primary-2"></div>

  <div class="p-5">
    <h1 class="text-white text-center mb-8">
      Créez une demande de réservation en quelques clics&nbsp;!
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-6 mb-md-0">
        <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="text-white mb-6">
                Un outil simple et rapide&nbsp;!
              </h4>

              <p class="text-white opacity-8 font-size-1-2 my-auto">
                Envoyez votre demande à toutes les personnes concernées
                accompagné d'un message personalisé en un clic&nbsp;!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_new_booking.min.png", class: "img-fluid rounded") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-n3 my-12">

  <div class="p-5">
    <h1 class="text-center mb-8">
      Communiquez en temps réel&nbsp;!
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-6 mb-md-0">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_booking.min.png", class: "img-fluid rounded shadow") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="mb-6">
                Discutez et approuvez en famille les demandes de réservation&nbsp;!
              </h4>

              <p class="text-muted font-size-1-2 my-auto">
                A chaque demande de réservation sa discussion familiale&nbsp;!
              </p>

              <br>

              <p class="text-muted font-size-1-2 my-auto">
                Retrouvez toutes les informations sur la réservation afin de
                répondre au mieux aux demandes.
              </p>

              <br>

              <p class="text-muted font-size-1-2 my-auto">
                Discutez, commentez au sujet de la réservation en famille.
              </p>

              <%= button_to "Découvrez Hutoki !",
                            pricing_path,
                            method: :get,
                            class: "btn btn-lg btn-outline-primary mt-6" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-n3 my-12 position-relative bg-primary">
  <div class="rotated-bg-primary-1"></div>

  <div class="p-5">
    <h1 class="text-white text-center mb-8">
      Retrouvez tous vos lieux par famille&nbsp;!
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-6 mb-md-0">
        <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="text-white mb-6">
                Complétez les informations de vos lieux&nbsp;!
              </h4>

              <p class="text-white opacity-8 font-size-1-2 my-auto">
                Combien de chambres, de salle de bain&nbsp;?
                <br>
                Y a t-il internet sur place&nbsp;?
                <br>
                Combien de lits simples, doubles&nbsp;?
                <br>
                Y a t-il un lit bébé&nbsp;?
                <br>
                Quel est le code pour accéder au local poubelle&nbsp;?
              </p>

              <br>

              <p class="text-white opacity-8 font-size-1-2 my-auto">
                Retrouvez toutes ces informations et plus sur une interface
                simple et bien organisée&nbsp;!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_venues.min.png", class: "img-fluid rounded") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="mt-12 mb-4">
    <h4 class="text-center mb-6">Lancez-vous&nbsp;!</h4>

    <p class="font-size-1-2 text-muted text-center m-0">
      Gérez vos plannings familiaux en ligne.
      <br>
      Optimisez votre gestion de maison de vacances familiale.
    </p>

    <div class="d-flex justify-content-center">
      <%= button_to "C'est parti !",
                    pricing_path,
                    method: :get,
                    class: "btn btn-lg btn-outline-primary mt-6" %>
    </div>
  </div>
</div>
