<div class="d-flex justify-content-center mt-6 mb-8">
  <h1>Choisissez le plan qui vous convient</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="col-sm-10 col-md-8">
    <div class="row">
      <div class="col-12 col-sm-6 mb-4 mb-sm-0">
        <div class="card h-100">
          <div class="card-body text-nowrap d-flex flex-column">
            <h3 class="card-title text-center">Basique</h3>

            <ul class="list-group shadow-none">
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-warning") %>
                <span class="font-weight-bolder">1</span>
                <span>famille</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-warning") %>
                <span class="font-weight-bolder">3</span>
                <span>membres par famille</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-warning") %>
                <span class="font-weight-bolder">1</span>
                <span>lieu par famille</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-warning") %>
                <span class="font-weight-bolder">1</span>
                <span>photo par lieu</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span>Réservations</span>
                <span class="font-weight-bolder">illimitées</span>
              </li>
            </ul>

            <div class="h-100 d-flex flex-column">
              <div class="d-flex justify-content-center p-2 my-auto">
                <span class="font-weight-bold font-size-1-8 ">
                  0 €
                </span>
              </div>

              <%= button_to "Plan gratuit",
                            new_user_registration_path,
                            method: :get,
                            class: "btn btn btn-block btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="card h-100">
          <div class="card-body text-nowrap d-flex flex-column">
            <h3 class="card-title text-center">Premium</h3>

            <ul class="list-group shadow-none">
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span>Familles</span>
                <span class="font-weight-bolder">illimitées</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span>Membres par famille</span>
                <span class="font-weight-bolder">illimités</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span>Lieux par famille</span>
                <span class="font-weight-bolder">illimités</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span class="font-weight-bolder">10</span>
                <span>photos par lieu</span>
              </li>
              <li class="list-group-item border-bottom p-2">
                <%= fa_icon("check-circle", nil, class: "text-success") %>
                <span>Réservations</span>
                <span class="font-weight-bolder">illimitées</span>
              </li>
            </ul>

            <div class="h-100 d-flex flex-column">
              <div class="p-2 my-auto">
                <div class="d-flex flex-column">
                  <div class="text-center text-opacity-3">
                    <span class="font-weight-bolder font-size-1-8 text-line-through">
                      29 €
                    </span>
                    <span class="text-muted">par an</span>
                  </div>
                  <div class="text-primary text-center text-wrap">
                    <span class="font-weight-bolder font-size-1-8">
                      Gratuit 🎉
                    </span>
                    <span class="text-nowrap">(Offre pour le lancement)</span>
                  </div>
                </div>
              </div>

              <%= button_to "Plan premium",
                            new_user_registration_path,
                            method: :get,
                            class: "btn btn btn-block btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
