<div class="list-group">
  <% if @question_and_answers.present? %>
    <div class="accordion" id="questionAndAnswerAccordion">
      <% @question_and_answers.each do |question_and_answer| %>
        <div id='<%= "heading#{question_and_answer.id}" %>'>
          <button type="button"
                  class="list-group-item list-group-item-action p-4"
                  data-toggle="collapse"
                  data-target='#<%= "collapse#{question_and_answer.id}" %>'
                  aria-expanded="false"
                  aria-controls='<%= "collapse#{question_and_answer.id}" %>'>

            <span class="font-size-1-2">
              <%= question_and_answer.question %>
            </span>
          </button>
        </div>

        <div id='<%= "collapse#{question_and_answer.id}" %>'
            class="collapse"
            aria-labelledby='<%= "heading#{question_and_answer.id}" %>'
            data-parent="#questionAndAnswerAccordion">

          <p class="font-weight-bolder text-primary m-0 px-6 py-4">
            <%= question_and_answer.answer %>
          </p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="list-group-item list-group-item-action">
      <p class="text-center text-muted font-size-1-2 m-0">
        Aucune questions trouvés...
      </p>
    </div>
  <% end %>
</div>
