<center>
  <p><%= "Bonjour #{@receiver.first_name}," %></p>

  <p><%= "#{@sender.full_name} vous envoie une invitation pour faire partie de la famille #{@family.name}." %></p>

  <p>Ce qui vous permettera de participer au réservations faites sur les résidences de la famille !</p>

  <p>Quelle sera votre réponse ?</p>

  <table border="0" cellpadding="0" cellspacing="0" align="center" class="mcnButtonContentContainer" style="border-collapse: separate !important; width: 250px; border-spacing: 20px;">
    <tbody>
      <tr>
        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; padding: 15px 30px; background-color: #48CB4B; border-radius: 5px;">
          <%= link_to 'Oui',
                      new_responses_url(status: true, token: @invitation.token),
                      class: "mcnButton",
                      title: "Oui",
                      target: "_blank",
                      style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #fff;" %>
        </td>
        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; padding: 15px 30px; background-color: #dc3545; border-radius: 5px;">
          <%= link_to 'Non',
                      new_responses_url(status: false, token: @invitation.token),
                      class: "mcnButton",
                      title: "Oui",
                      target: "_blank",
                      style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #fff;" %>
        </td>
      </tr>
    </tbody>
  </table>

  <p>Vous pouvez aussi vous connecter pour donner votre réponse dans l'onglet "Invitations" :</p>

  <br>

  <table border="0" cellpadding="0" cellspacing="0" align="center" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 5px;background-color: #48CB4B; width: 200px;">
    <tbody>
      <tr>
        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; padding: 15px 30px;">
          <%= link_to 'Me connecter',
                      user_account_received_invitations_url,
                      class: "mcnButton",
                      title: "Me connecter",
                      target: "_blank",
                      style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #fff;" %>
        </td>
      </tr>
    </tbody>
  </table>
</center>
