<div class="card">
  <div class="card-body">
    <h2 class="d-flex align-items-center">
      List d'approbation :
      <span class="badge badge-secondary ml-2">
        <%= @booking.booking_approvals.size %>
      </span>
    </h2>

    <div class="list-group shadow-none">
      <% @booking.booking_approvals.each do |approval| %>
        <%= link_to edit_admin_account_booking_booking_approval_path(@booking, approval),
                    class: 'list-group-item list-group-item-action p-1',
                    remote: true do %>

          <span class="font-weight-bolder">
            Utilisateur :
          </span>
          <span class="text-muted">
            <%= "#{approval.user.first_name} #{approval.user.last_name}," %>
          </span>
          <span class="font-weight-bolder">
            Statut :
          </span>
          <span class="text-muted">
            <%= BookingApproval.human_attribute_name("status.#{approval.status}") %>
          </span>

          <%= fa_icon('pen', nil, class: 'ml-3') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
