<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header p-2" id="booking_approvals">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-decoration-none text-muted"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">

          Liste d'approbations :
          <span class="badge badge-secondary">
            <%= @booking.booking_approvals.size %>
          </span>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="booking_approvals" data-parent="#accordion">
      <div class="card-body p-2">
        <ul class="list-group list-group-flush">
          <% @booking.booking_approvals.each do |approval| %>
            <li class="list-group-item p-1">
              <div class="d-flex justify-content-between">
                <% if approval.user.present? %>
                  <%= link_to user_account_user_path(approval.user),
                              class: "text-decoration-none text-muted",
                              remote: true do %>

                    <%= approval.user.first_name %>
                    <%= approval.user.last_name %>
                  <% end %>
                <% else %>
                  <%= fa_icon("user-slash", nil, class: "text-muted") %>
                <% end %>

                <%= approval_icon(approval.status) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
