<table class="table table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Membre</th>
      <th scope="col">Lieu</th>
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center">Statut</th>
      <th scope="col" class="text-center">Votes</th>
      <th scope="col" class="text-center">Deadline</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if @bookings.present? %>
      <% @bookings.each do |booking| %>
        <tr>
          <td class="font-weight-bolder">
            <%= booking.user.first_name %>
          </td>
          <td>
            <%= booking.venue.name %>
          </td>
          <td class="text-center">
            <%= booking_date_range(booking) %>
          </td>
          <td class="text-center">
            <%= booking_status_badge(booking.status) %>
          </td>
          <td class="text-center">
          </td>
          <td class="text-center align-middle">
            <%= booking_progress_deadline(booking) %>
          </td>
          <td class="d-flex justify-content-end">
            <% if booking.pending? %>
              <%= button_to edit_user_account_booking_path(booking),
                            class: "btn btn-sm btn-primary mr-2",
                            remote: true do %>

                <%= fa_icon("pen", "Editer", class: "mr-2") %>
              <% end %>
              <%= button_to user_account_booking_path(booking),
                            method: :delete,
                            class: "btn btn-sm btn-danger",
                            data: {
                              confirm: "La réservation sera supprimé définitivement, êtes vous sûr ?"
                            } do %>

                <%= fa_icon("trash", "Supprimer", class: "mr-2") %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" class="text-center">
          Vous n'avez pas de réservations en cours
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%== render "shared/bootstrap_pagy" if @pagy.pages > 1 %>
</div>
