<div id="messages-containers">
  <% @booking.messages.each do |message| %>
    <div class="card border-0 shadow mt-2">
      <div class="card-body">
        <div class="d-flex flex-row">
          <%= user_avatar(message.user) %>
          <span class="ml-3">
            <%= fa_icon("pen",
                        "Le #{l(message.created_at, format: :medium)}",
                        class: "mr-2") %>
          </span>
        </div>
        <div class="d-flex flex-row mt-2">
          <p class="m-0"><%= message.content %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="card border-0 shadow mt-2">
  <div class="card-body">
    <%= simple_form_for [:user_account, @message], remote: true do |f| %>
      <%= f.input :content,
                  label: "Nouveau message",
                  input_html: { placeholder: "Ecrivez le contenu du message ici" },
                  hint: "test pour voir" %>
      <%= f.submit "Envoyer", class: "btn btn-block btn-success" %>
    <% end %>
  </div>
</div>
