<div class="d-flex justify-content-center mt-4">
  <div class="col-md-12 col-lg-10">
    <h1>Réservations</h1>

    <div class="card border-0 shadow mb-2">
      <div class="card-body">
        <div class="row  no-gutters">
          <div class="col-10">
            <%= search_form_for [:user_account, @query],
                                defaults: { wrapper_html: { class: "mb-0" } },
                                data: { autosubmit: true },
                                remote: true do |f| %>
              <div class="row">
                <div class="col-3">
                  <%= f.input :user_id_eq,
                              collection: @current_family.users.map { |u|
                                ["#{u.first_name} #{u.last_name}", u.id]
                              },
                              label: "Membre",
                              required: false %>
                </div>
                <div class="col-2">
                  <%= f.input :venue_id_eq,
                              collection: @current_family.venues.pluck(:name, :id),
                              label: "Lieu",
                              required: false %>
                </div>
                <div class="col-5">
                  <div class="row no-gutters">
                    <div class="col-6 pr-3">
                      <%= f.input :from_gteq,
                                  label: "Du",
                                  as: :date,
                                  html5: true,
                                  required: false %>
                    </div>
                    <div class="col-6 pl-3">
                      <%= f.input :to_lteq,
                                  label: "Au",
                                  as: :date,
                                  html5: true,
                                  required: false %>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <%= f.input :status_eq,
                              collection: Booking.statuses.map { |k, v|
                                [Booking.human_attribute_name("status.#{k}"), v]
                              },
                              label: "Statut",
                              required: false %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-2 pl-3 mt-auto">
            <%= button_to user_account_bookings_path,
                          class: "btn btn-block btn-danger",
                          method: :get do %>

              <%= fa_icon("redo", "Réinitialiser", class: "mr-2") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-0 shadow">
      <div class="card-body">
        <div id="bookings_container">
          <%= render "bookings" %>
        </div>
      </div>
    </div>
  </div>
</div>
