<h4 class="d-flex align-items-center mb-3">
  Clés :
  <span class="badge badge-secondary ml-2">
    {{countObject(venue.keys)}}
  </span>
</h4>

<div v-for="(key, keyIndex) in venue.keys" :key="`key-${keyIndex}`">
  <div v-show="!key.Destroy">
    <div class="shadow p-3 rounded mb-3">
      <div class="form-group hidden venue_keys_id">
        <input v-model="key.id"
                type="hidden"
                :name="`venue[keys_attributes][${keyIndex}][id]`"
                :id="`venue_keys_attributes_${keyIndex}_id`"
                class="form-control hidden">
      </div>

      <div class="form-row">
        <div class="col-6">
          <div class="form-group string required venue_keys_name"
              :class="formGroupClass(key, 'name')">

            <label class="string required" :for="`venue_keys_attributes_${keyIndex}_name`">
              Nom <abbr title="obligatoire">*</abbr>
            </label>

            <input v-model="key.name"
                  class="form-control string required"
                  :class="inputClass(key, 'name')"
                  required="required"
                  aria-required="true"
                  type="text"
                  :name="`venue[keys_attributes][${keyIndex}][name]`"
                  :id="`venue_keys_attributes_${keyIndex}_name`"
                  placeholder="Clé principale">

            <div v-for="keyError in key.errors['name']" class="invalid-feedback">
              {{keyError}}
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group select required venue_keys_owner_id"
              :class="formGroupClass(key, 'owner')">

            <label class="select required" :for="`venue_keys_attributes_${keyIndex}_owner_id`">
              Propriétaire <abbr title="obligatoire">*</abbr>
            </label>

            <select class="form-control select required"
                    :class="inputClass(key, 'owner')"
                    :name="`venue[keys_attributes][${keyIndex}][owner_id]`"
                    :id="`venue_keys_attributes_${keyIndex}_owner_id`">

              <%= @current_family.users.each do |user| %>
                <option value="<%= user.id %>">
                  <%= "#{user.first_name} #{user.last_name}" %>
                </option>
              <% end %>
            </select>

            <div v-for="keyError in key.errors['owner']" class="invalid-feedback">
              {{keyError}}
            </div>
          </div>
        </div>

        <div class="col-2 d-flex justify-content-end align-items-start">
          <button @click.prevent="removeObject('key', keyIndex)" class="btn btn-danger">
            <%= fa_icon("trash") %>
          </button>
        </div>
      </div>

      <div class="form-group hidden venue_keys__destroy m-0">
        <input v-model="key.Destroy"
              class="form-control hidden"
              type="hidden"
              value="false"
              :name="`venue[keys_attributes][${keyIndex}][_destroy]`"
              :id="`venue_keys_attributes_${keyIndex}__destroy`">
      </div>
    </div>
  </div>
</div>

<button @click.prevent="addObject('key')" class="btn btn-primary">
  <%= fa_icon("plus", "Ajouter une clé", class: "mr-2") %>
</button>
