<div class="d-flex justify-content-center">
  <div class="col-11">
    <h4>Internet :</h4>

    <%= form.input :with_network, wrapper: :custom_boolean_switch, label: "Avec internet" %>

    <%= content_tag :div,
                    class: "nested_form",
                    data: {
                      nested_objects: form.object.networks.to_json(
                        except: [:venue_id, :created_at, :updated_at]
                      ),
                      new_nested_object: form.object.networks.build.to_json(
                        except: [:venue_id, :created_at, :updated_at]
                      )
                    } do %>

      <div v-for="(nestedObject, index) in nestedObjects">
        <div class="form-row d-flex align-items-center">
          <div class="col-6">
            <div class="form-group string required venue_networks_name">
              <label class="string required" :for="`venue_networks_attributes_${index}_name`">
                Nom <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="nestedObject.name" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[networks_attributes][${index}][name]`" :id="`venue_networks_attributes_${index}_name`">
            </div>
          </div>
          <div class="col-6">
            <fieldset class="form-group radio_buttons required venue_bedrooms_connection_type form-group-valid">
              <legend class="col-form-label pt-0">
                Connection type <abbr title="obligatoire">*</abbr>
              </legend>

              <input v-model="nestedObject.connection_type" type="hidden" :name="`venue[bedrooms_attributes][${index}][connection_type]`" value="">

              <% Network.connection_types.each do |type, id| %>
                <div class="form-check form-check-inline">
                  <input class="form-check-input is-valid radio_buttons required" required="required" aria-required="true" type="radio" value="<%= type %>" :checked="nestedObject.connection_type == '<%= type %>'" :name="`venue[bedrooms_attributes][${index}][connection_type]`" :id="`venue_bedrooms_attributes_${index}_connection_type_<%= type %>`">
                  <label class="form-check-label collection_radio_buttons" :for="`venue_bedrooms_attributes_${index}_connection_type_<%= type %>`">
                    <%= type %>
                  </label>
                </div>
              <% end %>
            </fieldset>
          </div>
        </div>

        <div class="form-row d-flex align-items-end">
          <div class="col-6">
            <div class="form-group string required venue_networks_network_name">
              <label class="string required" :for="`venue_networks_attributes_${index}_network_name`">
                Nom du reseau <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="nestedObject.network_name" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[networks_attributes][${index}][network_name]`" :id="`venue_networks_attributes_${index}_network_name`">
            </div>
          </div>

          <div class="col-5">
            <div class="form-group string required venue_networks_password">
              <label class="string required" :for="`venue_networks_attributes_${index}_password`">
                Mot de passe <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="nestedObject.password" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[networks_attributes][${index}][password]`" :id="`venue_networks_attributes_${index}_password`">
            </div>
          </div>

          <div class="col-1 mb-3">
            <button v-on:click.prevent="removeNestedForm(index)" class="btn btn-danger">
              <%= fa_icon("trash") %>
            </button>
          </div>
        </div>

        <div class="form-group hidden venue_networks__destroy m-0">
          <input v-model="nestedObject._destroy"  class="form-control hidden" type="hidden" value="false" :name="`venue[networks_attributes][${index}][_destroy]`" :id="`venue_networks_attributes_${index}__destroy`">
        </div>

        <hr>
      </div>

      <button v-on:click.prevent="addNestedForm" class="btn btn-primary">
        Ajouter un reseau
      </button>
    <% end %>
  </div>
</div>
