<div class="d-flex justify-content-center mt-4">
  <div class="col-sm-8 col-lg-6">
    <div class="d-flex flex-column flex-sm-row align-items-center mb-2">
      <h1>Mes familles</h1>
      <div class="ml-sm-auto">
        <% if @families.present? %>
          <%= button_to new_user_account_family_path,
                        class: "btn btn btn-outline-primary",
                        method: :get,
                        remote: true do %>

            <%= fa_icon("plus", "Créer une nouvelle famille", class: "mr-2") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @families.present? %>
      <div class="card">
        <div class="card-body">
          <div class="accordion" id="familyAccordion">
            <% @families.each do |family| %>
              <div id="heading-<%= family.id %>" class="mb-4">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex align-items-center">
                    <h3 class="text-nowrap mb-0 mr-2">
                      <%= family.name %>
                    </h3>
                    <span class="text-muted mr-1">Plan :</span>
                    <%= plan_badge(family) %>
                  </div>

                  <div>
                    <% if family.creator_id == current_user.id %>
                      <%= button_to edit_user_account_family_path(family),
                                    class: "btn btn-sm btn-primary text-nowrap",
                                    form_class: "float-left",
                                    method: :get,
                                    remote: true do %>

                        <%= fa_icon("pen", "Editer", class: "mr-2") %>
                      <% end %>

                      <%= button_to user_account_family_path(family),
                                    class: "btn btn-sm btn-danger",
                                    form_class: "float-left ml-2",
                                    method: :delete,
                                    data: { confirm: "Cette action effacera tous les lieux et réservations liées à cette famille, êtes-vous sûr ?" },
                                    remote: true do %>

                        <%= fa_icon("trash") %>
                      <% end %>
                    <% else %>
                      <%= button_to user_account_family_link_path(
                                      family.family_links.detect { |l| l.user_id == current_user.id }
                                    ),
                                    class: "btn btn-sm btn-danger",
                                    form_class: "float-left ml-2",
                                    method: :delete,
                                    data: { confirm: "Cette action vous désolidarisera de cette famille, êtes-vous sûr ?" } do %>

                        <%= fa_icon("unlink", "Quitter", class: "mr-2") %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="d-flex align-items-center">
                  <a href="#"
                    class="font-weight-bolder"
                    data-toggle="collapse"
                    data-target="#collapse-<%= family.id %>"
                    aria-expanded="false"
                    aria-controls="collapse-<%= family.id %>">

                    <%= "#{pluralize(@users[family.id].size, 'membre', plural: 'membres')}" %>
                  </a>
                  <span class="ml-2 font-weight-bold align-self-end">
                    Période de réservation :
                    <%= family.human_days_for_approval %>
                  </span>
                </div>

                <div id="collapse-<%= family.id %>"
                    class="collapse"
                    aria-labelledby="heading-<%= family.id %>"
                    data-parent="#familyAccordion">

                  <div class="table-responsive-sm mt-1">
                    <table class="table table-rounded table-borderless table-hover">
                      <tbody>
                        <% @users[family.id].each do |user| %>
                          <tr data-table-link="<%= user_account_user_path(user) %>" data-remote="true">
                            <td>
                              <%= user_avatar(user, format: [25, 25], avatar_class: "rounded-circle mr-2") %>
                            </td>
                            <td class="text-nowrap">
                              <%= user.full_name %>
                            </td>
                            <td class="text-muted">
                              <%= user.email %>
                            </td>
                            <td>
                              <%= plan_badge(user) %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <%= fa_icon("exclamation-triangle") %>
        Vous devez dans un premier temps créer votre premier groupe familiale !
        <br>
        Pour ce faire cliquez sur le lien de creation.
      </div>
    <% end %>
  </div>
</div>
