<div class="d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="my-4">Déverouiller mon compte</h1>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.full_error :unlock_token %>

      <%= f.input :email,
                  autofocus: true,
                  input_html: {
                    placeholder: "jean.dupont@mail.com",
                    autocomplete: "email"
                  } %>

      <%= f.submit "Envoyer le mail pour déverouiller", class: "btn btn-block btn-success" %>
    <% end %>

    <br>

    <%= render "user_account/authentification/shared/links" %>
  </div>
</div>

