<div class="modal" id="booking-approval-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title">
          <% if @booking_approval.accepted? %>
            <span class="text-success">
              Approuver la réservation
            </span>
          <% else %>
            <span class="text-danger">
              Rejeter la réservation
            </span>
          <% end %>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:user_account, @booking, @booking_approval], remote: true do |f| %>
          <%= f.input :status, as: :hidden %>
          <%= f.simple_fields_for :message do |m| %>
            <%= m.input :content,
                        as: :text,
                        label: false,
                        input_html: {
                          placeholder: "Ecrivez un message pour accompagner cette prise de décision"
                        } %>
          <% end %>

          <%= f.submit "Envoyer", class: "btn  btn-sm btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
