<% flash.each do |key, value| %>
  <% next if key == "timedout" %>

  <div id="toast_<%= key %>_<%= value.object_id %>"
      class="toast <%= t("flash.class.#{key}") %>"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      data-delay="4000">

    <div class="toast-body">
      <div class="d-flex flex-row">
        <div class="fa-toast-type mr-3 mt-1">
          <%= fa_icon(t("flash.icon.#{key}")) %>
        </div>

        <div class="text-white font-weight-bold mt-1 mr-2">
          <%= value.html_safe %>
        </div>

        <button type="button"
                class="ml-auto mt-n1 close text-white"
                data-dismiss="toast" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {
      $("#toast_<%= key %>_<%= value.object_id %>").toast("show");
    })
  </script>
<% end %>
