<center>
  <p><%= "Bonjour #{@user.first_name}" %>,</p>

  <p>
    Votre demande de réservation du
    <strong><%= l(@booking.from, format: :medium) %></strong>
    au
    <strong><%= l(@booking.to, format: :medium) %></strong>
    vient d'être
    <strong><%= @status %></strong>.
  </p>

  <p>Pour de plus amples imformations, nous vous invitons a clicquer sur le lien ci-dessous :</p>

  <br>

  <table border="0" cellpadding="0" cellspacing="0" align="center" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 5px;background-color: #38b2ac; width: 260px;">
    <tbody>
      <tr>
        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px;">
          <%= link_to 'Ma demande',
                      user_account_booking_url(@booking),
                      class: "mcnButton",
                      title: "Ma demande",
                      target: "_blank",
                      style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #fff;padding: 15px 30px;" %>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

</center>
