<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Toast</h3>

    <p><strong>Actionner un toast :</strong></p>

    <div class="d-flex flex-row">
      <%= button_to "Notice",
                    admin_account_toasts_path(params: { toast: { type: 'notice' } }),
                    remote: true,
                    class: "btn btn-info mr-2" %>

      <%= button_to "Message",
                    admin_account_toasts_path(params: { toast: { type: 'message' } }),
                    remote: true,
                    class: "btn btn-secondary mr-2" %>

      <%= button_to "Success",
                    admin_account_toasts_path(params: { toast: { type: 'success' } }),
                    remote: true,
                    class: "btn btn-success mr-2" %>

      <%= button_to "Alert",
                    admin_account_toasts_path(params: { toast: { type: 'alert' } }),
                    remote: true,
                    class: "btn btn-warning mr-2" %>

       <%= button_to "Error",
                    admin_account_toasts_path(params: { toast: { type: 'error' } }),
                    remote: true,
                    class: "btn btn-danger" %>
    </div>
  </div>
</div>
