<div class="table-responsive-md">
  <table class="table table-rounded table-borderless table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Famille</th>
        <th scope="col" class="text-center">Lu</th>
      </tr>
    </thead>
    <tbody>
      <% if @notifications.present? %>
        <% @notifications.each do |notification| %>
          <tr data-table-link="<%= notification.url %>">
            <td class="font-weight-bolder text-nowrap">
              <%= fa_icon(
                Notification.human_attribute_name(
                  "icon.#{notification.notification_type}"
                ),
                Notification.human_attribute_name(
                  "notification_type.#{notification.notification_type}"
                ),
                { class: "mr-2", prefix: "far" }
              ) %>
            </td>

            <td style="min-width: 300px;">
              <%= notification.description.html_safe %>
            </td>

            <td class="text-center text-nowrap">
              <%= l(notification.created_at, format: :with_hour) %>
            </td>

            <td class="text-center">
              <span class="badge badge-warning">
                <%= notification.family.name %>
              </span>
            </td>

            <td class="text-center">
              <%= fa_icon(
                Notification.human_attribute_name(
                  "status_icon.#{notification.status}"
                ),
                nil,
                class: Notification.human_attribute_name(
                  "status_icon_class.#{notification.status}"
                )
              ) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="text-center text-muted">
            Vous n'avez pas de notification en cours
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center mt-2">
      <%== render "shared/bootstrap_pagy" %>
    </div>
  <% end %>
</div>
