<div class="dropdown">
  <a href="#"
     id="dropdownSettingsButton"
     class="dropdown-toggle px-md-0 px-lg-3"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">

    Gestion du site
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettingsButton">
    <%= link_to "Sidekiq", sidekiq_web_path, target: "_blank", class: "dropdown-item" %>

    <%= link_to "Design system",
                admin_account_design_system_index_path,
                class: "dropdown-item #{'active' if controller_name == 'design_system'}" %>

    <%= link_to "Administrateurs",
                admin_account_admins_path,
                class: "dropdown-item #{'active' if controller_name == 'admins'}" %>

    <%= link_to "Vacances scolaires",
                admin_account_school_holidays_path,
                class: "dropdown-item #{'active' if controller_name == 'school_holidays'}" %>

    <%= link_to "Types de véhicules",
                admin_account_vehicle_types_path,
                class: "dropdown-item #{'active' if controller_name == 'vehicle_types'}" %>

    <%= link_to "Membres",
                admin_account_team_members_path,
                class: "dropdown-item #{'active' if controller_name == 'team_members'}" %>

    <%= link_to "FAQs",
                admin_account_question_and_answers_path,
                class: "dropdown-item #{'active' if controller_name == 'question_and_answers'}" %>

    <%= link_to "Articles",
                admin_account_articles_path,
                class: "dropdown-item #{'active' if controller_name == 'articles'}" %>
  </div>
</div>
