<table class="table table-rounded table-borderless table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col" class="text-center">Inscription</th>
      <th scope="col" class="text-center">Plan</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user_avatar(user) %>
        </td>
        <td>
          <%= link_to user.full_name, admin_account_user_path(user) %>
        </td>
        <td>
          <%= user.email %>
          <span class="ml-1">
            <%= user_confirmed_status(user.confirmed?) %>
          </span>
        </td>
        <td class="text-center">
          <%= l(user.created_at, format: :medium) %>
        </td>
        <td class="text-center">
          <%= user_plan_badge(user) %>
        </td>
        <td class="d-flex flex-row-reverse">
          <%= button_to "Connection",
                        admin_account_user_sessions_path(user),
                        form: { target: '_blank' },
                        class: "btn btn-sm btn-primary" %>

          <% unless user.confirmed? %>
            <%= button_to "Valider le mail",
                          admin_account_user_email_confirmations_path(user),
                          method: :put,
                          class: "btn btn-sm btn-outline-primary mr-2" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="d-flex justify-content-center mt-2">
    <%== render "shared/bootstrap_pagy" %>
  </div>
<% end %>
