<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <div class="d-flex">
            <%= user_avatar(@user, format: [100, 100], avatar_class:"rounded") %>

            <div class="ml-3">
              <h1 class="m-0"><%= @user.full_name %></h1>
              <span class="text-muted">
                <%= "Créé le #{l(@user.created_at, format: :medium)}" %>
              </span>
              <br>
              <%= link_to admin_account_user_sessions_path(@user),
                          method: :post,
                          target: '_blank' do %>
                <%= fa_icon("link", "Connection", class: "mr-1") %>
              <% end %>
            </div>

            <%= button_to edit_admin_account_user_path(@user),
                          method: :get,
                          form_class: "ml-auto",
                          class: "btn btn-sm btn-outline-warning",
                          remote: true do %>

              <%= fa_icon("pen") %>
            <% end %>
          </div>

          <ul class="list-group shadow-none mt-3">
            <li class="list-group-item p-1">
              <%= fa_icon("envelope", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.email || "Non renseigné" %>
              </span>
            </li>
            <li class="list-group-item p-1">
              <%= fa_icon("phone", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.phone || "Non renseigné" %>
              </span>
            </li>
            <li class="list-group-item p-1">
              <%= fa_icon("map-marked", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.address || "Non renseigné" %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="d-flex align-items-center m-0">
            <%= fa_icon("users", "Familles", class: "mr-2") %>
            <span class="badge badge-secondary ml-auto">
              <%= @user.family_links.size %>
            </span>
          </h2>

          <div class="col-12 col-sm-6 p-0 mt-3">
            <table class="table table-rounded table-borderless table-hover">
              <tbody>
                <% if @user.families.present? %>
                  <% @user.families.each do |family| %>
                    <tr data-table-link="<%= admin_account_family_path(family) %>">
                      <td class="font-weight-bolder">
                        <%= family.name %>
                      </td>
                      <td class="text-muted text-right">
                        <%= "Créée le #{l(family.created_at, format: :medium)}" %>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="2" class="text-center text-muted">
                      <%= "Aucune familles n'est liée à #{@user.full_name}" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="d-flex align-items-center mb-3">
            <%= fa_icon("mailbox", "Invitations reçues", class: "mr-2") %>
            <span class="badge badge-secondary ml-auto">
              <%= @received_invitations.size %>
            </span>
          </h2>

          <table class="table table-rounded table-borderless table-hover">
            <thead class="table-info">
              <tr>
                <th scope="col">Hôte</th>
                <th scope="col" class="text-center">Famille</th>
                <th scope="col" class="text-center">Date d'envoie</th>
                <th scope="col" class="text-center">Réponse</th>
              </tr>
            </thead>
            <tbody>
              <% if @received_invitations.present? %>
                <% @received_invitations.each do |invitation| %>
                  <tr>
                    <td class="font-weight-bolder">
                      <%= link_to invitation.sender_full_name,
                                  admin_account_user_path(invitation.sender) %>
                    </td>
                    <td class="text-center">
                      <%= invitation.family.name %>
                    </td>
                    <td class="text-center">
                      <%= l(invitation.created_at) %>
                    </td>
                    <td class="d-flex justify-content-center">
                      <%= Invitation.human_attribute_name("status.#{invitation.status}") %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="4" class="text-center text-muted">
                    <%= "#{@user.full_name} n'a pas reçu d'invitations" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
