<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <div class="d-flex">
            <%= user_avatar(@user, format: [100, 100], avatar_class:"rounded") %>

            <div class="ml-3">
              <h1 class="m-0"><%= @user.full_name %></h1>

              <span class="text-muted">Plan :</span>
              <%= user_plan_badge(@user) %>

              <div class="my-1">
                <%= user_progress_deadline(@user) if @user.premium? %>
              </div>

              <span class="text-muted">
                <%= "Créé le #{l(@user.created_at, format: :medium)}" %>
              </span>

              <br>

              <%= link_to admin_account_user_sessions_path(@user),
                          method: :post,
                          target: '_blank' do %>
                <%= fa_icon("link", "Connection", class: "mr-1") %>
              <% end %>
            </div>

            <%= button_to edit_admin_account_user_path(@user),
                          method: :get,
                          form_class: "ml-auto",
                          class: "btn btn-sm btn-outline-warning",
                          remote: true do %>

              <%= fa_icon("pen") %>
            <% end %>
          </div>

          <ul class="list-group shadow-none mt-3">
            <li class="list-group-item p-1">
              <%= fa_icon("envelope", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.email || "Non renseigné" %>
              </span>
            </li>
            <li class="list-group-item p-1">
              <%= fa_icon("phone", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.phone || "Non renseigné" %>
              </span>
            </li>
            <li class="list-group-item p-1">
              <%= fa_icon("map-marked", nil, class: "mr-2") %>
              <span class="text-muted">
                <%= @user.address || "Non renseigné" %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <div id="families-user-container">
            <%= render "shared/spinner" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <div id="families-received-invitations-container">
            <%= render "shared/spinner" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card my-3">
        <div class="card-body">
          <div id="families-sended-invitations-container">
            <%= render "shared/spinner" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', function() {
    $.ajax({ url: "<%= admin_account_user_families_path(@user) %>" })
    $.ajax({ url: "<%= admin_account_user_received_invitations_path(@user) %>" })
    $.ajax({ url: "<%= admin_account_user_sended_invitations_path(@user) %>" })
  })
</script>
