<table class="table table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Hôte</th>
      <th scope="col" class="text-center">Famille</th>
      <th scope="col" class="text-center">Date d'envoie</th>
      <th scope="col" class="text-center">Votre réponse</th>
    </tr>
  </thead>
  <tbody>
    <% if @invitations.present? %>
      <% @invitations.each do |invitation| %>
        <tr>
          <td class="font-weight-bolder">
            <%= invitation.sender_full_name %>
          </td>

          <td class="text-center">
            <%= invitation.family.name %>
          </td>

          <td class="text-center">
            <%= l(invitation.created_at) %>
          </td>

          <td class="d-flex justify-content-center">
            <% if invitation.pending? %>
              <%= button_to "Non",
                            user_account_received_invitation_path(
                              id: invitation.id, response: 'no'),
                            class: "btn btn-sm btn-outline-danger px-4 mr-2",
                            method: :patch %>

              <%= button_to "Oui",
                            user_account_received_invitation_path(
                              id: invitation.id, response: 'yes'),
                            class: "btn btn-sm btn-outline-success px-4",
                            method: :patch %>
            <% else %>
              <%= invitation_response_btn(invitation) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center">
          Vous n'avez pas d'invitations en cours
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%== render "shared/bootstrap_pagy" if @pagy.pages > 1 %>
</div>
