<div class="modal" id="venue-modal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title">
          <% if action_name == "edit" %>
            Editer un lieu
          <% else %>
            Créer un lieu
          <% end %>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:user_account, @venue], remote: true do |f| %>
          <%= content_tag :div,
                          id: "venue_form",
                          data: {
                            form_is_valid: !@venue.errors.present?,
                            venue: @json_venue,
                            new_bedroom: @json_new_bedroom,
                            new_bathroom: @json_new_bathroom,
                            new_key: @json_new_key,
                            new_network: @json_new_network,
                            new_digital_code: @json_new_digital_code,
                            new_home_service: @json_new_home_service
                          } do %>

            <div class="d-flex justify-content-center">
              <div class="col-11">
                <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                <%= f.input :name, input_html: { placeholder: "Chalet à la montagne" } %>
                <%= f.input :address, input_html: { placeholder: "12 Rue de Bellecote" } %>
                <%= f.input :city, as: :hidden %>
                <%= f.input :postcode, as: :hidden %>
                <%= f.input :country, as: :hidden %>
                <%= f.input :country_code, as: :hidden %>
                <%= f.input :administrative, as: :hidden %>
                <%= f.input :county, as: :hidden %>
                <%= f.input :lat, as: :hidden %>
                <%= f.input :lng, as: :hidden %>
                <%= f.input :creator_id, as: :hidden %>
                <%= f.input :family_id, as: :hidden %>
              </div>
            </div>

            <hr>
            <%= render "user_account/venues/nested_forms/bedrooms", form: f %>
            <hr>
            <%= render "user_account/venues/nested_forms/bathrooms", form: f %>
            <hr>
            <%= render "user_account/venues/nested_forms/keys", form: f %>
            <hr>
            <%= render "user_account/venues/nested_forms/networks", form: f %>
            <hr>
            <%= render "user_account/venues/nested_forms/digital_codes", form: f %>
            <hr>
            <%= render "user_account/venues/nested_forms/home_services", form: f %>
            <hr>

            <div class="d-flex justify-content-center">
              <div class="col-11">
                <%= f.input :comment,
                            label: "Commentaire",
                            input_html: {
                              placeholder: "Choses a savoir, bon plan, précision sur le lieu..."
                            } %>

                <%= f.input :editable_for_others,
                            wrapper: :custom_boolean_switch,
                            label: "Editable par les autres membres" %>

                <%= f.submit "Envoyer", class: "btn btn-block btn-success" %>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
