<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @venue.name %>
  </h1>

  <% if @venue.is_editable? %>
    <%= button_to edit_user_account_venue_path(@venue),
                  remote: true,
                  method: :get,
                  class: "btn btn-primary" do %>

      <%= fa_icon("pen", "Editer", class: "mr-2")  %>
    <% end %>
  <% end %>
</div>

<% if @venue.photos.present? %>
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @venue.photos.each_with_index do |photo, index| %>
        <li data-target="#carouselIndicators"
            data-slide-to="<%= index %>"
            class="<%= 'active' if index == 0 %>">
        </li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @venue.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag(photo.variant(resize_to_limit: [550, 300]), class: "d-block rounded w-100") %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

<p class="text-muted mb-2">
  <%= @venue.address %>
</p>

<p class="font-weight-bold">
  <%= @venue.beddings_count %>
  <%= "Place".pluralize(@venue.beddings_count) %>
  <span>&bull;</span>
  <%= @venue.bedrooms_count %>
  <%= "Chambre".pluralize(@venue.bedrooms_count) %>
  <span>&bull;</span>
  <%= @venue.bathrooms_count %>
  <%= "Salle".pluralize(@venue.bathrooms_count) + " de bain" %>

  <% if @venue.with_network %>
    <span>&bull;</span>
    Internet
  <% end %>

  <% unless @venue.baby_beddings_count.zero? %>
    <span>&bull;</span>
    <%= @venue.baby_beddings_count %>
    <%= "Lit".pluralize(@venue.baby_beddings_count) %>
    bébé
  <% end %>
</p>

<% if @venue.map.attached? %>
  <hr class="my-4">
  <h4>Emplacement :</h4>
  <%= image_tag(@venue.map.variant(resize_to_limit: [300, 300]), class: "rounded") %>
<% end %>

<% if @venue.bedrooms.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Chambres :
    <span class="badge badge-secondary ml-2">
      <%= @venue.bedrooms_count %>
    </span>
  </h4>

  <% @venue.bedrooms.each do |bedroom| %>
    <div class="shadow p-3 rounded mb-3">
      <h5><%= bedroom.name %></h5>
      <span>Lits :</span>
      <span class="text-muted">
        <% bedroom.beddings.select do |b|
          !b.bed_count.zero?
        end.each_with_index do |bedding, index| %>
          <% unless index.zero? %>
            <span>&bull;</span>
          <% end %>

          <%= Bedding.human_attribute_name("bed_type.#{bedding.bed_type}") %>
          <%= bedding.bed_count %>
        <% end %>
      </span>
    </div>
  <% end %>
<% end %>

<% if @venue.bathrooms.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Salle de bains :
    <span class="badge badge-secondary ml-2">
      <%= @venue.bathrooms_count %>
    </span>
  </h4>

  <div class="shadow p-3 rounded mb-3">
    <p class="text-muted m-0">
      <% @venue.bathrooms.each_with_index do |bathroom, index| %>
        <% unless index.zero? %>
          <span>&bull;</span>
        <% end %>

        <span><%= bathroom.name %></span>
      <% end %>
    </p>
  </div>
<% end %>

<% if @venue.keys.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Clés :
    <span class="badge badge-secondary ml-2">
      <%= @venue.keys.size %>
    </span>
  </h4>

  <% @venue.keys.each do |key| %>
    <div class="shadow p-3 rounded mb-3">
      <span><%= key.name %> :</span>

      <%= link_to user_account_user_path(key.owner), remote: true do %>
        <span class="text-muted">
          <%= "#{key.owner.first_name} #{key.owner.last_name}" %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @venue.networks.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Réseaux :
    <span class="badge badge-secondary ml-2">
      <%= @venue.networks.size %>
    </span>
  </h4>

  <% @venue.networks.each do |network| %>
    <div class="shadow p-3 rounded mb-3">
      <span>Nom du réseau :</span>
      <span class="text-muted mr-3">
        <%= network.name %>
      </span>
      <span>Mot de passe :</span>
      <span class="text-muted">
        <%= network.password %>
      </span>
    </div>
  <% end %>
<% end %>

<% if @venue.digital_codes.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Digicodes :
    <span class="badge badge-secondary ml-2">
      <%= @venue.digital_codes.size %>
    </span>
  </h4>

   <% @venue.digital_codes.each do |digital_code| %>
    <div class="shadow p-3 rounded mb-3">
      <span>
        <%= "#{digital_code.name} :" %>
      </span>

      <span class="text-muted">
        <%= digital_code.password %>
      </span>
    </div>
  <% end %>
<% end %>

<% if @venue.home_services.present? %>
  <hr class="my-4">

  <h4 class="d-flex align-items-center mb-3">
    Services à domicile :
    <span class="badge badge-secondary ml-2">
      <%= @venue.home_services.size %>
    </span>
  </h4>

  <% @venue.home_services.each do |home_service| %>
    <div class="shadow p-3 rounded mb-3">
      <h5><%= home_service.name %></h5>

      <div class="d-flex align-items-center">
        <h5 class="text-nowrap mb-0 mr-4">
          <%= fa_icon("user", home_service.person_in_charge, class: "mr-2") %>
        </h5>

        <div class="d-flex flex-wrap text-muted m-0">
          <% if home_service.phone.present? %>
            <div class="border rounded py-1 px-2 mr-2 mt-2">
              <%= fa_icon("phone", home_service.phone, class: "mr-2") %>
            </div>
          <% end %>
          <% if home_service.email.present? %>
            <div class="border rounded py-1 px-2 mr-2 mt-2">
              <%= fa_icon("envelope", home_service.email, class: "mr-2") %>
            </div>
          <% end %>
          <% if home_service.address.present? %>
            <div class="border rounded py-1 px-2 mr-2 mt-2">
              <%= fa_icon("map-marked", home_service.address, class: "mr-2") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @venue.comment.present? %>
  <hr class="my-4">

  <h4 class="mb-3">
    Commentaire :
  </h4>

  <div class="shadow p-3 rounded mb-3">
    <p class="m-0">
      <%= @venue.comment %>
    </p>
  </div>
<% end %>

<% if @venue.is_editable? %>
  <div class="d-flex justify-content-end mt-4">
    <%= button_to user_account_venue_path(@venue),
                  method: :delete,
                  data: { confirm: "Etes-vous sûr de vouloir supprimer #{@venue.name} ?" },
                  class: "btn btn-danger" do %>

      <%= fa_icon("trash", "Supprimer #{@venue.name}", class: "mr-2")  %>
    <% end %>
  </div>
<% end %>
