<% content_for :head do %>
  <%= javascript_pack_tag 'venue_form_vue', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row ml-4">
  <div class="col-7 pt-4 vh-100 overflow-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Mes lieux</h1>
      <%= button_to new_user_account_venue_path,
                    class: "btn btn btn-outline-primary",
                    method: :get,
                    remote: true do %>

        <%= fa_icon("plus", "Créer un nouveau lieu", class: "mr-2") %>
      <% end %>
    </div>

    <% if @venues.present? %>
      <% @venues.each do |venue| %>
        <% 10.times do %>
          <%= link_to user_account_venue_path(venue),
              class: "text-decoration-none",
              remote: true do %>

            <div class="card border-0 shadow mb-3">
              <div class="row no-gutters">
                <div class="col-md-4 p-2">
                  <% if venue.photos.attached? %>
                    <%= image_tag(venue.photos.first.variant(
                                  resize_to_limit: [300, 200]),
                                  class: "card-img-top") %>
                  <% end %>
                </div>
                <div class="col-md-8 p-2">
                  <div class="card-body p-0">
                    <h4 class="card-title text-dark mb-0">
                      <%= venue.name %>
                    </h4>

                    <p class="card-text font-weight-lighter text-dark">
                      <%= venue.address %>
                    </p>

                    <p class="card-text text-muted">
                      <%= venue.beddings_count %>
                      <%= "Adulte".pluralize(venue.beddings_count) %>
                      <span>&bull;</span>
                      <%= venue.bedrooms_count %>
                      <%= "Chambre".pluralize(venue.bedrooms_count) %>
                      <span>&bull;</span>
                      <%= venue.bathrooms_count %>
                      <%= "Salle de bain".pluralize(venue.bathrooms_count) %>

                      <% if venue.with_network %>
                        <span>&bull;</span>
                        <%= fa_icon("wifi", "Internet", class: "mr-2") %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-5 p-0 border-left">
    <div class="vh-100 overflow-auto py-4 px-3">
      <div id="venue-container">
        <div class="alert alert-warning" style="margin-top: 56px;">
          <%= fa_icon("exclamation-triangle") %>
          Ici vous allez pouvoir créer vos lieux pour la famille <%= @current_family.name %> !
          <br>
          Pour ce faire cliquez sur le lien de creation ci-dessus.
        </div>
      </div>
    </div>
  </div>
</div>
