<% content_for :head do %>
  <%= javascript_pack_tag 'venue_form_vue', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <div class="col-md-10 col-lg-8">
    <div class="d-flex align-items-center">
      <h1>Mes lieux</h1>
      <div class="ml-auto">
        <% if @venues.present? %>
          <%= button_to new_user_account_venue_path,
                        class: "btn btn btn-outline-primary",
                        method: :get,
                        remote: true do %>

            <%= fa_icon("plus", "Créer un nouveau lieu", class: "mr-2") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <% if @venues.present? %>
          <% @venues.each do |venue| %>
            <div class="col-4">
              <div class="card">
                <% if venue.photos.attached? %>
                  <%= image_tag(venue.photos.first.variant(resize_to_limit: [300, 200]),
                                class: "card-img-top") %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= venue.name %>
                  </h5>

                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>

                  <div class="d-flex justify-content-between">
                    <%= button_to edit_user_account_venue_path(venue),
                                  remote: true,
                                  method: :get,
                                  class: "btn btn-sm btn-primary" do %>

                      <%= fa_icon("pen", "Editer", class: "mr-2")  %>
                    <% end %>

                    <%= button_to user_account_venue_path(venue),
                                  method: :delete,
                                  data: { confirm: "Etes-vous sûr ?" },
                                  class: "btn btn-sm btn-danger" do %>

                      <%= fa_icon("trash", "Supprimer", class: "mr-2")  %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
            <div class="d-flex align-items-center">
              <div class="col-7">
                <div class="alert alert-warning m-0">
                  <%= fa_icon("exclamation-triangle") %>
                  Vous devez dans un premier temps créer votre premier lieu !
                  <br>
                  Pour ce faire cliquez sur le lien de creation.
                </div>
              </div>
              <div class="col-5 d-flex justify-content-center">
                <%= button_to new_user_account_venue_path,
                              class: "btn btn-lg btn-outline-primary",
                              method: :get,
                              remote: true do %>

                  <%= fa_icon("plus", "Créer mon premier lieu", class: "mr-2") %>
                <% end %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

