<% content_for :head do %>
  <%= javascript_pack_tag 'venue_form_vue', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <div class="col-md-10 col-lg-8">
    <div class="d-flex align-items-center">
      <h1>Mes lieux</h1>
      <div class="ml-auto">
        <% if @venues.present? %>
          <%= button_to new_user_account_venue_path,
                        class: "btn btn btn-outline-primary",
                        method: :get,
                        remote: true do %>

            <%= fa_icon("plus", "Créer un nouveau lieu", class: "mr-2") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <% if @venues.present? %>
          <% @venues.each do |venue| %>
            <%= venue.name %>
          <% end %>
        <% else %>
            <div class="d-flex align-items-center">
              <div class="col-7">
                <div class="alert alert-warning m-0">
                  <%= fa_icon("exclamation-triangle") %>
                  Vous devez dans un premier temps créer votre premier lieu !
                  <br>
                  Pour ce faire cliquez sur le lien de creation.
                </div>
              </div>
              <div class="col-5 d-flex justify-content-center">
                <%= button_to new_user_account_venue_path,
                              class: "btn btn-lg btn-outline-primary",
                              method: :get,
                              remote: true do %>

                  <%= fa_icon("plus", "Créer mon premier lieu", class: "mr-2") %>
                <% end %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

