<table class="table table-rounded table-borderless table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Question</th>
      <th scope="col" class="text-center">Date de création</th>
      <th scope="col" class="text-center">Statut</th>
    </tr>
  </thead>
  <tbody>
    <% if @question_and_answers.present? %>
      <% @question_and_answers.each do |question_and_answer| %>
        <tr data-table-link="<%= admin_account_question_and_answer_path(question_and_answer) %>">
          <td>
            <%= question_and_answer.question %>
          </td>
          <td class="text-center">
            <%= l(question_and_answer.created_at, format: :medium) %>
          </td>
          <td class="text-center">
            <%= network_status_badge(question_and_answer) %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" class="text-center text-muted">
          aucun faq n'a été trouvé
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="d-flex justify-content-center mt-2">
    <%== render "shared/bootstrap_pagy" %>
  </div>
<% end %>
