<% if controller_name != 'sessions' %>
  <span>J'ai deja un compte.</span>
  <%= link_to "Me connecter", new_session_path(resource_name), remote: true %>
  <br>
<% end %>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span>Pas encore inscrit ?</span>
  <%= link_to "Créer mon compte", pricing_path %>
  <br>
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <span>Mot de passe oublié ?</span>
  <%= link_to "Réinitialiser mon mot de passe", new_password_path(resource_name) %>
  <br>
<% end %>

<br>

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <span>Mon compte doit être confirmé ?</span>
  <%= link_to "Confirmer mon compte", new_confirmation_path(resource_name) %>
  <br>
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <span>Mon compte est vérouillé ?</span>
  <%= link_to "Déverouiller mon compte", new_unlock_path(resource_name) %>
  <br>
<% end %>
