<div class="d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="my-4">Espace utilisateur</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  autofocus: true,
                  input_html: {
                    placeholder: "jean.dupont@mail.com",
                    autocomplete: "email"
                  } %>

      <%= f.input :password,
                  wrapper_html: { class: "mb-1" },
                  input_html: { autocomplete: "current-password" },
                  required: true %>

      <fieldset class="form-group">
        <div class="form-check password-eye" data-target="user_password">
          <input class="form-check-input" type="checkbox" id="user_password_eye">
          <label class="form-check-label ml-1" for="user_password_eye">
            Voir le mot de passe
          </label>
        </div>
      </fieldset>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.submit "Se connecter", class: "btn btn-block btn-success" %>
    <% end %>

    <br>

    <%= render "user_account/authentification/shared/links" %>
  </div>
</div>
