<div class="row justify-content-md-center">
    <div class="col-4">
      <h2 class="mb-5">Espace utilisateur</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.submit "Se connecter", class: "btn btn-block btn-success" %>
      <% end %>

      <br>

      <%= render "user_account/authentification/shared/links" %>
    </div>
  </div>
