<% @users.each do |user| %>
  <%= link_to user_account_user_path(user),
              class: "text-decoration-none",
              remote: true do %>

    <div class="rounded shadow mb-3 p-2">
      <div class="media">
        <%= user_avatar(user, format: [80, 80], avatar_class:"align-self-center rounded mr-3") %>

        <div class="media-body">
          <h5 class="mt-0 text-dark">
            <%= user.full_name %>
          </h5>

          <ul class="list-unstyled m-0">
            <% if user.phone.present? %>
              <li>
                <span class="text-dark">
                  <%= fa_icon("phone", nil, class: "mr-2") %>
                </span>
                <span class="text-muted">
                  <%= user.phone %>
                </span>
              </li>
            <% end %>
            <li>
              <span class="text-dark">
                <%= fa_icon("envelope", nil, class: "mr-2") %>
              </span>
              <span class="text-muted">
                <%= user.email %>
              </span>
            </li>
            <% if user.address.present? %>
              <li>
                <span class="text-dark">
                  <%= fa_icon("map-marked", nil, class: "mr-2") %>
                </span>
                <span class="text-muted">
                  <%= user.address %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%== render "shared/bootstrap_pagy" if @pagy.pages > 1 %>
</div>
