<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= meta_title %></title>

    <%= render 'shared/default_meta' %>
    <%= render 'shared/facebook_og' %>
    <%= render 'shared/twitter_card' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
      <%= link_to root_path, class:"navbar-brand pt-1" do %>
        <%= image_tag("icons/hutoki.min.png", size: "35", class: "img-fluid pb-1") %>
        <span class="font-weight-bolder pl-1">Hutoki</span>
      <% end %>

      <div class="ml-auto d-sm-none">
        <% if current_user %>
          <%= render "user_account/layouts/user_dropdown" %>
        <% else %>
          <%= link_to new_user_session_path, remote: true do %>
            <button class="btn btn-info" type="button">
              Connexion
            </button>
          <% end %>
        <% end %>
      </div>

      <button class="navbar-toggler ml-3"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex align-items-center">
          <ul class="navbar-nav align-items-lg-center">
            <li class="nav-item <%= 'active' if action_name == 'about' %>">
              <%= link_to "À propos", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item <%= 'active' if action_name == 'pricing' %>">
              <%= link_to "Nos offres", pricing_path, class: "nav-link" %>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "Mon espace",
                            user_account_dashboards_path,
                            class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="ml-auto d-none d-sm-block">
        <% if current_user %>
          <%= render "user_account/layouts/user_dropdown" %>
        <% else %>
          <%= link_to new_user_session_path, remote: true do %>
            <button class="btn btn-info" type="button">
              Connexion
            </button>
          <% end %>
        <% end %>
      </div>
    </nav>

    <div class="container-fluid min-vh-100">
      <%= yield %>
    </div>

    <div id="modal-container"></div>
    <div id="toast-container">
      <%= render "./shared/flash_messages" %>
    </div>
  </body>

  <%= render "./shared/cookies_info_card" unless cookies[:hutoki_rgpd] %>
  <%= render "./shared/footer" unless @skip_footer %>
</html>
